<!DOCTYPE html>
<html lang="en">
  <head>
    {{>Headtag}}
    {{>Style}}
  </head>
  <body>
    {{>Navbar}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="https://img.freepik.com/free-photo/3d-illustration-medieval-historical-character_183364-81199.jpg?w=740&t=st=1677299810~exp=1677300410~hmac=e2c39c6b137091a0c9eee0cee89a976651d561b081e7e505a59f082c3c0c97fa"
                  alt="image1"
                  class="img-fluid"
                  title="Ritesh Barapatre"
                  width="400px"
                  height="400px"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Ritesh's World</p>
              <h1>Hello, I am a <span class="txt_clr">MERN Developer</span> FreeLancer and Youtuber </h1>
              <a href="/contact"><button>Contact Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
<footer>
  <p>Created with 💘 by Ritesh
  </p>
</footer>

{{>Scripts}}
  </body>
</html>
