<!DOCTYPE html>
<html lang="en">
  <head>
    {{>Headtag}}
    {{>Style}}
  </head>
  <body>
    {{>Navbar}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather app</p>
              <h1>Get the latest <span class="txt_clr">Weather</span> Info of your City </h1>
              <a href="/weather"><button> Click Me</button></a>
            </div>
            <div class="col-md-6 col-12 main_header_right">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="w-100" src="https://img.freepik.com/free-vector/outdoor-park-with-children-playing-marbles_1308-103325.jpg?w=1060&t=st=1677299655~exp=1677300255~hmac=718eb8436d94b7636f2401fad9e269a4259f7c796cf47207f7d887a9d9e94da5" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="w-100" src="https://img.freepik.com/free-vector/children-playing-hopscotch-game-park_1308-105373.jpg?w=1060&t=st=1677299690~exp=1677300290~hmac=8eb427cc11845bfbd3a8b48388ced89a5e2efc5b5e5c2d998e1e7eeadafb94f8" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="w-100" src="https://img.freepik.com/free-vector/kids-school-field-trip_1308-105469.jpg?w=1060&t=st=1677299705~exp=1677300305~hmac=56dcdb5771f5a85f9a45f5ab09a497655856aecbf672d7312811db37100c2262" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{>Footer}}

    {{>Scripts}}
  </body>
</html>
